/* Your custom styles */
*{
	margin: 0;
	padding: 0;
box-sizing: border-box;
}
body{
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
/*overflow: hidden;*/
}
div,.footer-copyright{
	text-align: center;
}
li,.footli{
	text-decoration: hidden;
}
a:link{
	color: black;
}
a:visited{
	color: tomato;
}
a:hover{
	color: grey;
}
a:active{
	color: lightgrey;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
}
.spinner{
		width: 80px;
		height: 80px;
		border: 2px solid #f3f3f3;
		border-top: 3px solid #f25a41;
		position: absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;	
	border-radius: 100%;
		margin: auto;
		animation: spin 0.5s infinite linear;
			}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
/*#overlay{*/
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,.8);
	position: fixed;
	left: 0;
	top: 0; 
z-index: 9999;
}