// Load Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
//$offwhite: #EEE8D6;
$white: white;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6D73C2;
$whitesmoke: #f2f2f2;
$color-main: $darkblue;
$color-headlines: $red;
$color-background: $white;
$color-item-border: $red;
$color-media-head: $blue;
$font-main: 'Merriweather',
Helvetica,
sans-serif;
$font-highlight: 'Bree Serif',
Helvetica,
sans-serif;